* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  padding: 0px;
}

/* :root {
    --color-principal: #3EA0E6;
    --color-secundario: #E5B91D;
} */
h1 {
  color: aliceblue;
  box-shadow: 10px;
  text-shadow: 0px 0px 5px #000;
}

main {
  background-size: cover;
  background-position: center;
  background-color: #3ea0e6;
  background-image: linear-gradient(180deg, #3ea0e6 2%, #f0f8ff 15%, #fafafa 93%, #3ea0e6 98%);
}

#mainubicacion {
  background-size: cover;
  background-position: center;
  background-color: #3EA0E6;
  background-color: #3ea0e6;
  background-image: linear-gradient(180deg, #3ea0e6 0%, #fafafa 17%, #f0f8ff 86%, #ff1111 100%);
}

#footerubicacion {
  background-color: #FF1111;
  height: 200px;
}

.hr {
  height: 5px !important;
  color: #000 !important;
  opacity: 0 !important;
  width: 90%;
  margin-left: 20px !important;
}

.hrubicacion {
  height: 5px !important;
  color: #000 !important;
  opacity: 100 !important;
  width: 90%;
  margin-left: 20px !important;
}

.hravella {
  height: 5px !important;
  opacity: 100 !important;
  width: 90%;
  margin-left: 20px !important;
  color: #83c442;
}

.hrracing {
  height: 5px !important;
  opacity: 100 !important;
  width: 90%;
  margin-left: 20px !important;
  color: #3EA0E6;
}

.hrcai {
  height: 5px !important;
  opacity: 100 !important;
  width: 90%;
  margin-left: 20px !important;
  color: #FF1111;
}

.banner {
  width: 100%;
  height: 500px;
}

.home {
  border: 10px solid #E5B91D;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 10px;
}

.home1 {
  grid-area: home1;
  border-right: none;
  height: 250px;
  padding: 20px;
}
.home1 p {
  text-align: left;
  padding: 10px;
  margin: 25px;
  color: black;
  text-shadow: 0px 0px 5px #000;
}
.home1 h2 {
  color: black;
  text-shadow: 0px 0px 10px #000;
}
.home1 a {
  background-color: #E5B91D;
  color: white;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 0 5px #fff;
  text-align: center;
  text-shadow: 0px 0px 10px #000;
  padding: 8px;
  margin: 10px;
}

.servicios4 {
  border-right: none;
  grid-area: servicios4;
  height: 350px;
  padding: 20px;
  color: black;
  text-shadow: 0px 0px 2px #000;
}
.servicios4 ul {
  text-align: left;
  padding: 20px;
  margin: 25px;
}
.servicios4 ul li {
  padding: 20px;
  text-shadow: 0px 0px 300px #000;
}

.video6 {
  border-left: none;
  grid-area: video6;
  height: 500px;
  padding-right: 10px;
}
.video6 iframe {
  padding: 5px;
  width: 100%;
}

.carrucel7 {
  border-left: none;
  height: 500px;
}
.carrucel7 div {
  display: flex;
  scroll-snap-type: mandatory;
  overflow-x: auto;
  width: 100%;
  height: 499px;
}

.carrucel7 #carrucel1 img {
  width: 100%;
  /* background-size:cover; */
  scroll-snap-align: center;
}

#carouselExampleFade {
  background-size: cover !important;
  height: 600px !important;
}
#carouselExampleFade div img {
  background-size: cover !important;
  background-position: center !important;
  height: 600px !important;
}

footer {
  background-color: #3EA0E6;
  width: 100%;
  height: 150px;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  text-shadow: 0px 0px 5px #000;
}
footer .subir {
  box-shadow: 0 0 5px #fff;
  float: right;
  margin-right: 40px;
  text-align: center;
  background-color: #E5B91D;
  color: #E4E3DE;
  font-size: 40px;
}

html {
  scroll-behavior: smooth;
}

.oferta h2 {
  text-shadow: 0px 0px 5px #000;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 1000px;
  width: 100%;
  grid-template-areas: "img1 img1 img2 img3" "img4 img5 img6 img6" "img7 img7 img8 img8";
}
.galeria .item {
  border: 2px solid #E5B91D;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 10px;
}
.galeria .item1 {
  background-image: url(../imagenes/foto4.jpg);
  grid-area: img1;
}
.galeria .item2 {
  background-image: url(../imagenes/foto6.jpg);
  grid-area: img2;
}
.galeria .item3 {
  background-image: url(../imagenes/foto8.jpg);
  grid-area: img3;
}
.galeria .item4 {
  background-image: url(../imagenes/foto9.jpg);
  grid-area: img4;
}
.galeria .item5 {
  background-image: url(../imagenes/foto11.jpg);
  grid-area: img5;
}
.galeria .item6 {
  background-image: url(../imagenes/foto2.jpg);
  grid-area: img6;
}
.galeria .item7 {
  background-image: url(../imagenes/foto5.jpg);
  grid-area: img7;
}
.galeria .item8 {
  background-image: url(../imagenes/foto10.jpg);
  grid-area: img8;
}

.galeria :hover {
  transform: scale(1.1);
  transition: all 0.9s;
}

#navbar {
  background-color: #3EA0E6 !important;
}

#dropdownboton {
  float: right;
}

.carrucel8 {
  grid-area: carrucel7;
  border-left: none;
  height: 350px;
}
.carrucel8 div {
  display: flex;
  scroll-snap-type: mandatory;
  overflow-x: auto;
  width: 100%;
  height: 330px;
}

.carrucel8 #carrucel1 img {
  width: 100%;
  background-size: cover;
  scroll-snap-align: center;
}

#videoboot {
  height: 500px;
}

#primerelemento {
  height: 400px;
}
#primerelemento a {
  background-color: #E5B91D;
  color: white;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 0 5px #fff;
  text-align: center;
  text-shadow: 0px 0px 10px #000;
  padding: 8px;
  margin: 10px;
}

#serviciosboot {
  height: 400px;
}
#serviciosboot h2 {
  text-shadow: 0px 0px 10px #000;
}
#serviciosboot li {
  text-shadow: 0px 0px 10px #000;
}

#navbarboot {
  height: 150px;
  color: white;
  background-color: #3EA0E6;
}
#navbarboot a {
  color: white;
  font-stretch: wider;
  text-shadow: 0px 0px 5px #000;
  text-decoration: none;
  margin: 30px;
}
#navbarboot li a {
  margin: 10px;
}
#navbarboot a:hover {
  color: #E5B91D;
}

#botonboot {
  background-color: #E5B91D;
}

#imagenboot {
  height: 80px;
  width: 80px;
}

#collapsibleNavbar {
  background-color: #3EA0E6;
  border-radius: 3%;
  opacity: 80 !important;
  width: 30%;
}

.formularioboot {
  background-color: #3EA0E6;
  padding: 20px;
}
.formularioboot .form-label {
  color: white;
}
.formularioboot label #comentario {
  color: #000;
}
.formularioboot .form-control {
  border-color: #E5B91D;
  border-width: 3px;
  box-shadow: 0px 0px 5px #E5B91D;
}
.formularioboot input .form-control :active {
  box-shadow: inset 0px 0px 5px #E5B91D !important;
}
.formularioboot input :hover {
  box-shadow: 0px 0px 20px #E5B91D !important;
}
.formularioboot input .form-control :focus {
  box-shadow: inset 0px 0px 5px #E5B91D !important;
}

#comentario {
  color: #000;
}

#botonform {
  background-color: #E5B91D;
  text-decoration: none;
  color: white;
  padding: 8px;
  border-radius: 5%;
}

#botonform:hover {
  background-color: rgba(229, 186, 29, 0.9254901961);
}

.libertadores {
  height: 70px;
  width: 60px;
}

#montserrat {
  font-family: "Montserrat", sans-serif;
  color: #83c442;
}

@media only screen and (max-width: 1030px) {
  div p {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 13px;
  }
  div h2 {
    font-size: 20px;
  }
  div h3 {
    font-size: 15px;
  }
  .row li {
    font-size: 13px;
  }
  #parrafo2 {
    font-size: 10px;
  }
  footer {
    height: 100px;
  }
  .mapa {
    height: 250px;
    width: 250px;
  }
}
@media only screen and (max-width: 1500px) {
  #serviciosboot article p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 380px) {
  #serviciosboot h2 {
    font-size: 18px;
  }
  #serviciosboot li {
    font-size: 13px;
  }
  #serviciosboot p {
    font-size: 10px;
  }
  #serviciosboot article p {
    font-size: 11px;
  }
}
@media only screen and (max-width: 800px) {
  .banner {
    height: 350px;
  }
  .libertadores {
    height: 50px;
    width: 40px;
  }
  a .subir {
    font-size: 20px;
    height: 40px;
  }
}
@media only screen and (max-width: 575px) {
  .hr {
    opacity: 100 !important;
  }
  .home {
    border: none;
  }
  .hravella {
    opacity: 100 !important;
  }
  #imagenboot {
    height: 50px;
    width: 50px;
  }
  #carouselExampleFade {
    height: 400px;
  }
}
@media only screen and (max-width: 415px) {
  #imagenboot {
    width: 0px;
    height: 0px;
  }
  #navbarboot a {
    font-size: 18px;
    margin: 15px;
  }
}

/*# sourceMappingURL=estilos.css.map */
