@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Montserrat:wght@300&display=swap");
* {
  font-family: "Jost", sans-serif;
  margin: 0px;
  padding: 0px;
}

/* :root {
    --color-principal: #3EA0E6;
    --color-secundario: #E5B91D;
} */
main {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-color: #3ea0e6;
  background-image: linear-gradient(180deg, #3ea0e6 0%, #fafafa 15%);
  padding: 10px;
}

#main-ubicacion {
  background-size: cover;
  background-position: center;
  background-color: #3EA0E6;
  background-color: #3ea0e6;
  background-image: linear-gradient(180deg, #3ea0e6 0%, #fafafa 17%, #f0f8ff 86%, #ff1111 100%);
  padding: 10px;
}
#main-ubicacion p {
  padding: 10px;
}
#main-ubicacion h2 {
  padding: 8px;
}

#footer-ubicacion {
  background-color: #FF1111;
  height: 270px;
}

.hr {
  height: 2px !important;
  color: #000 !important;
  opacity: 0 !important;
  width: 90%;
  margin-left: 20px !important;
}

.hr-ubicacion {
  height: 1.5px !important;
  color: #000 !important;
  opacity: 100 !important;
  width: 90%;
  margin-left: 20px !important;
}

.hr-avella {
  height: 2px !important;
  opacity: 100 !important;
  width: 90%;
  margin-left: 20px !important;
  color: #83c442;
}

.hr-racing {
  height: 2px !important;
  opacity: 100 !important;
  width: 90%;
  margin-left: 20px !important;
  color: #3EA0E6;
}

.hr-cai {
  height: 2px !important;
  opacity: 100 !important;
  width: 90%;
  margin-left: 20px !important;
  color: #FF1111;
}

.banner {
  width: 100%;
  height: 500px;
}

.home {
  border: 10px solid #E5B91D;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 10px;
}

.home1 {
  grid-area: home1;
  border-right: none;
  height: 250px;
  padding: 20px;
}
.home1 p {
  text-align: left;
  padding: 10px;
  margin: 25px;
  color: black;
  font-size: 18px;
}
.home1 h2 {
  color: black;
  text-shadow: 0px 0px 10px #000;
}
.home1 a {
  background-color: #E5B91D;
  color: white;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 0 5px #fff;
  text-align: center;
  text-shadow: 0px 0px 10px #000;
  padding: 8px;
  margin: 10px;
}

.servicios4 {
  border-right: none;
  height: 350px;
  padding: 20px;
  color: black;
}
.servicios4 ul {
  text-align: left;
  padding: 20px;
  margin: 25px;
}
.servicios4 ul li {
  padding: 20px;
  text-shadow: 0px 0px 300px #000;
}

.video6 {
  border-left: none;
  height: 500px;
}
.video6 video {
  width: 100%;
  height: 450px;
  margin-right: 5px;
}

.video {
  width: 100%;
  height: 500px;
}

#carouselExampleFade {
  background-size: cover !important;
  height: 600px !important;
}
#carouselExampleFade div img {
  background-size: cover !important;
  background-position: center !important;
  height: 600px !important;
}

footer {
  background-color: #3EA0E6;
  width: 100%;
  height: 250px;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  text-shadow: 0px 0px 5px #000;
}
footer .subir {
  box-shadow: 0 0 5px #fff;
  float: right;
  margin-right: 40px;
  text-align: center;
  background-color: #E5B91D;
  color: #E4E3DE;
  font-size: 30px;
}
footer .subir :active {
  box-shadow: inset 0 0 5px #E5B91D;
  text-decoration: none;
}
footer #whatsapp {
  text-decoration: none !important;
  font-size: 30px;
  color: white;
}
footer #whatsapp :hover {
  padding: 12px;
  background-color: #25d366;
  border-radius: 80%;
}
footer .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .menu ul {
  list-style: none;
}
footer .menu ul li {
  display: inline-block;
}
footer .menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
footer .menu ul li a:hover {
  color: #E5B91D;
}

#contactame {
  float: right;
  margin-right: 20px;
}
#contactame img {
  height: 100px;
  width: 100px;
}

#contactame :hover {
  background-color: #25d366 !important;
  box-shadow: 0 0 3px #25d366;
}

html {
  scroll-behavior: smooth;
}

.oferta h1 {
  padding: 5px;
}
.oferta ul li {
  padding: 10px;
  font-size: 23px;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 1000px;
  width: 100%;
  grid-template-areas: "img1 img1 img2 img3" "img4 img5 img6 img6" "img7 img7 img8 img8";
}
.galeria .item {
  border: 2px solid #E5B91D;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 10px;
}
.galeria .item1 {
  background-image: url(../imagenes/foto4.jpg);
  grid-area: img1;
}
.galeria .item2 {
  background-image: url(../imagenes/foto6.jpg);
  grid-area: img2;
}
.galeria .item3 {
  background-image: url(../imagenes/foto8.jpg);
  grid-area: img3;
}
.galeria .item4 {
  background-image: url(../imagenes/foto9.jpg);
  grid-area: img4;
}
.galeria .item5 {
  background-image: url(../imagenes/foto11.jpg);
  grid-area: img5;
}
.galeria .item6 {
  background-image: url(../imagenes/foto2.jpg);
  grid-area: img6;
}
.galeria .item7 {
  background-image: url(../imagenes/foto5.jpg);
  grid-area: img7;
}
.galeria .item8 {
  background-image: url(../imagenes/foto10.jpg);
  grid-area: img8;
}

.galeria :hover {
  transform: scale(1.1);
  transition: all 0.9s;
}

#navbar {
  background-color: #3EA0E6 !important;
}

#dropdownboton {
  float: right;
}

#primer-elemento {
  height: 400px;
}
#primer-elemento p {
  font-size: 20px;
}
#primer-elemento a {
  background-color: #E5B91D;
  color: white;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 0 5px #fff;
  text-align: center;
  text-shadow: 0px 0px 10px #000;
  padding: 8px;
  margin: 10px;
}

#servicios-boot {
  height: 400px;
}
#servicios-boot #parrafo2 a {
  text-decoration: #E5B91D !important;
  color: #E5B91D;
}

#navbar-boot {
  height: 150px;
  color: white;
  background-color: #3EA0E6;
}
#navbar-boot a {
  color: white;
  font-stretch: wider;
  text-shadow: 0px 0px 5px #000;
  text-decoration: none;
  margin: 30px;
}
#navbar-boot .navbar-brand {
  font-size: 25px;
}
#navbar-boot li a {
  margin: 10px;
}
#navbar-boot a:hover {
  color: #E5B91D;
}
#navbar-boot .navbar-toggler-icon {
  margin-top: 13px;
  color: white;
  text-shadow: 0px 0px 10px #000;
}
#navbar-boot .navbar-toggler-icon :hover {
  text-shadow: 0px 0px 15px #E5B91D;
  color: #E5B91D;
}

#imagen-boot {
  height: 80px;
  width: 80px;
}

#collapsibleNavbar {
  background-color: #3EA0E6;
  border-radius: 3%;
  opacity: 80 !important;
  width: 30%;
}

.formulario-boot {
  background-color: #3EA0E6;
  padding: 20px;
}
.formulario-boot .form-label {
  color: white;
}
.formulario-boot h1 {
  color: aliceblue;
  box-shadow: 10px;
  text-shadow: 0px 0px 5px #000;
  margin-bottom: 20px;
}
.formulario-boot label #comentario {
  color: #000;
}
.formulario-boot .form-control {
  border-color: #E5B91D;
  border-width: 3px;
  box-shadow: 0px 0px 5px #E5B91D;
}
.formulario-boot input .form-control :active {
  box-shadow: inset 0px 0px 5px #E5B91D !important;
}
.formulario-boot input :hover {
  box-shadow: 0px 0px 20px #E5B91D !important;
}
.formulario-boot input .form-control :focus {
  box-shadow: inset 0px 0px 5px #E5B91D !important;
}

#comentario {
  color: #000;
}

#boton-form {
  background-color: #E5B91D;
  text-decoration: none;
  color: white;
  padding: 8px;
  border-radius: 5%;
}

#boton-form:hover {
  background-color: rgba(229, 186, 29, 0.9254901961);
}

.libertadores {
  height: 70px;
  width: 60px;
}

#montserrat {
  font-family: "Montserrat", sans-serif;
  color: #83c442;
  font-size: 30px;
  margin: 10px;
}

#info {
  background-color: #3EA0E6;
  padding: 50px;
}
#info h1 {
  color: aliceblue;
  box-shadow: 10px;
  text-shadow: 0px 0px 5px #000;
  margin-bottom: 20px;
}
#info p {
  color: #fafafa;
  text-shadow: 0px 0px 10px #000;
  font-size: 20px;
}
#info p a {
  text-decoration: none;
  color: #E5B91D;
}

@media only screen and (max-width: 1500px) {
  #servicios-boot article p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1380px) {
  .home1 p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1181px) {
  .home1 p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1030px) {
  div #parrafo1 {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 13px;
  }
  div h2 {
    font-size: 25px;
  }
  div h3 {
    font-size: 20px;
  }
  .row li {
    font-size: 13px;
  }
  #parrafo2 {
    font-size: 10px;
  }
  .mapa {
    height: 250px;
    width: 250px;
  }
}
@media only screen and (max-width: 892px) {
  .servicios4 {
    padding: 10px;
  }
  #servicios-boot h1 {
    font-size: 25px;
  }
  #servicios-boot ul {
    padding: 10px;
    margin: 15px;
  }
  #servicios-boot li {
    font-size: 17px;
    padding: 10px;
  }
  #servicios-boot p {
    font-size: 14px;
    padding: 5px;
  }
}
@media only screen and (max-width: 800px) {
  .banner {
    height: 350px;
  }
  .libertadores {
    height: 40px;
    width: 30px;
  }
  a .subir {
    font-size: 20px;
    height: 40px;
  }
  #servicios-boot h2 {
    font-size: 18px;
  }
  #servicios-boot li {
    font-size: 13px;
  }
  #servicios-boot p {
    font-size: 10px;
  }
  #servicios-boot article p {
    font-size: 11px;
  }
}
@media only screen and (max-width: 767px) {
  .hr {
    opacity: 100 !important;
  }
  .home {
    border: none;
  }
  .home #parrafo1 {
    font-size: 15px;
    display: block;
  }
  #servicios-boot h2 {
    font-size: 25px !important;
  }
  #servicios-boot li {
    font-size: 17px !important;
  }
  #servicios-boot p {
    font-size: 15px !important;
  }
}
@media only screen and (max-width: 575px) {
  #imagen-boot {
    height: 50px;
    width: 50px;
  }
  #carouselExampleFade {
    height: 400px;
  }
  .navbar-brand {
    font-size: 20px !important;
  }
  .oferta li {
    font-size: 18px !important;
  }
  .menu a {
    font-size: 10px !important;
  }
}
@media only screen and (max-width: 443px) {
  #imagen-boot {
    width: 0px;
    height: 0px;
  }
  #navbar-boot a {
    font-size: 18px;
    margin: 15px;
  }
  #parrafo1 {
    font-size: 13px !important;
  }
  .home1 a {
    padding: 5px !important;
    font-size: 15px !important;
  }
}
@media only screen and (max-width: 380px) {
  .home1 p {
    margin: 15px;
  }
}

/*# sourceMappingURL=estilos.css.map */
