$colorprincipal: #3EA0E6;
$colorsecundario: #E5B91D;
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Montserrat:wght@300&display=swap');

*{
    font-family: 'Jost', sans-serif;
    margin: 0px;  
    padding: 0px;
}

/* :root {
    --color-principal: #3EA0E6;
    --color-secundario: #E5B91D;
} */



main{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: #3ea0e6;
    background-image: linear-gradient(180deg, #3ea0e6 0%, #fafafa 15%);

    padding: 10px;
}
#main-ubicacion{
    background-size: cover;
    background-position: center;
    background-color: $colorprincipal;
    background-color: #3ea0e6;
    background-image: linear-gradient(180deg, #3ea0e6 0%, #fafafa 17%, #f0f8ff 86%, #ff1111 100%);
    padding: 10px;
    p{
        padding: 10px;
    }
    h2{
        padding: 8px;
    }
}

#footer-ubicacion{
    background-color: #FF1111;
    height: 270px;
}


.hr{
    height: 2px !important;
    color:#000 !important;
    opacity: 0 !important;
    width: 90%;
    margin-left: 20px !important;
}

.hr-ubicacion{
    height: 1.5px !important;
    color:#000 !important;
    opacity: 100 !important;
    width: 90%;
    margin-left: 20px !important;
}
.hr-avella{
    height: 2px !important;
    opacity: 100 !important;
    width: 90%;
    margin-left: 20px !important;
    color: #83c442
}
.hr-racing{
    height: 2px !important;
    opacity: 100 !important;
    width: 90%;
    margin-left: 20px !important;
    color: $colorprincipal
}
.hr-cai{
    height: 2px !important;
    opacity: 100 !important;
    width: 90%;
    margin-left: 20px !important;
    color:#FF1111;
}
.banner {
    width: 100%;
    height: 500px;
}

.home{
    border: 10px solid $colorsecundario;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin: 10px;
}

.home1{
    border-right: none;
    height: 250px;
    padding: 20px;

    p{
        text-align: left;
        padding: 10px;
        margin: 25px;
        color: black;
        font-size: 18px;
    }
    h2{
        color: black;
        text-shadow: 0px 0px 10px #000;
        
    }
    a{
        background-color:$colorsecundario;
        color:white;
        font-size: 20px;
        text-decoration: none;
        border-radius: 5px;
        box-shadow: 0 0 5px #fff;
        text-align: center;
        text-shadow: 0px 0px 10px #000;
        padding: 8px;
        margin: 10px;
    }
}

.servicios4{
    border-right: none;
    height: 350px;
    padding: 20px;
    color: black;
    ul{
        text-align: left;
        padding: 20px;
        margin: 25px;
    
        li{
            padding: 20px;
            text-shadow: 0px 0px 300px #000;
        }
    }
}

.video6{
    border-left: none;
    height: 500px;
    video{
        width: 100%;
        height: 450px;
        margin-right: 5px;
    }
}
.video{
    width: 100%;
    height: 500px;
}

#carouselExampleFade{
    background-size: cover !important;
    height: 500px !important;

    div img{
        background-size: cover !important;
        background-position: center !important;
        height: 600px !important;
    }
}
footer {
    background-color:#3EA0E6 ;
    width: 100%;
    height: 250px;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    text-shadow: 0px 0px 5px #000;

        .subir{
            box-shadow: 0 0 5px #fff;
            float: right;
            margin-right: 40px;
            text-align: center;
            background-color: $colorsecundario;
            color: #E4E3DE;
            font-size: 30px;
            
        }
        .subir :active {
            box-shadow: inset 0 0 5px $colorsecundario;
            text-decoration: none;
        }
        #whatsapp{
            
            text-decoration: none !important;
            font-size: 30px;
            color: white;
        }
        #whatsapp :hover{
            padding: 12px;
            background-color: #25d366;
            border-radius: 80%;
        }
        .menu{
            display: flex;
            justify-content:space-between;
            align-items:center;

            ul{
                list-style: none;
                li{
                    display: inline-block;
                    a{
                        text-decoration: none;
                        color: white;
                        font-size: 15px;
                    }
                    a:hover{
                        color: $colorsecundario;
                    }
                }
            }
            
        }
}
#contactame{
        float: right;
        margin-right: 20px;
        img{
            height: 100px;
            width: 100px;
        }
}
#contactame :hover{
    background-color: #25d366 !important;
    box-shadow: 0 0 3px #25d366;
}

html{
    scroll-behavior: smooth;
}
.oferta{
    h1{
        padding: 5px;
    }
    ul{
        li{
            padding: 10px;
            font-size: 23px;
        }
    }
}
.galeria{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 1000px;
    width: 100%; 
    grid-template-areas: "img1 img1 img2 img3"
                        "img4 img5 img6 img6"
                        "img7 img7 img8 img8";

    .item{
        border: 2px solid $colorsecundario;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        margin: 10px;
    }
    .item1{
        background-image: url(../imagenes/foto4.jpg);
        grid-area: img1;
    }
    .item2{
        background-image: url(../imagenes/foto6.jpg);
        grid-area: img2;
    }
    .item3 {
        background-image: url(../imagenes/foto8.jpg);
        grid-area: img3;
    }
    .item4{
        background-image: url(../imagenes/foto9.jpg);
        grid-area: img4
    }
    .item5{
        background-image: url(../imagenes/foto11.jpg);
        grid-area: img5;
    }
    .item6{
        background-image: url(../imagenes/foto2.jpg);
        grid-area: img6;
    }   
    .item7{
        background-image: url(../imagenes/foto5.jpg); 
        grid-area: img7; 
    }
    .item8{
        background-image: url(../imagenes/foto10.jpg);
        grid-area: img8;
    }
}

.galeria :hover{
    transform: scale(1.10);
    transition: all 0.9s;
}

#navbar{
    background-color: $colorprincipal !important;
}
#dropdownboton{
    float: right;
}

#primer-elemento{
    height: 400px;
    p{
        font-size: 20px;
    }
    a{
        background-color:$colorsecundario;
        color:white;
        font-size: 20px;
        text-decoration: none;
        border-radius: 5px;
        box-shadow: 0 0 5px #fff;
        text-align: center;
        text-shadow: 0px 0px 10px #000;
        padding: 8px;
        margin: 10px;    
    }
}

#servicios-boot{
    height: 400px;
    #parrafo2{
        a{
            text-decoration: $colorsecundario !important;
            color: $colorsecundario;
        }
    }
}

#navbar-boot{
    height: 150px;
    color: white;
    background-color: $colorprincipal;
    a{
        color: white;
        font-stretch: wider;
        text-shadow: 0px 0px 5px #000;
        text-decoration: none;
        margin: 30px;
    }
    .navbar-brand{
        font-size: 25px
    }
    li a{
        margin:10px;
    }
    a:hover{
        color:$colorsecundario
    } 
    .navbar-toggler-icon{
        margin-top: 13px;
        color: white;
        text-shadow: 0px 0px 10px #000
    }
    .navbar-toggler-icon :hover{
        text-shadow: 0px 0px 15px $colorsecundario;
        color: $colorsecundario;
    }
}
#imagen-boot{
    height: 80px;
    width: 80px;
}
#collapsibleNavbar{
    background-color: $colorprincipal;
    border-radius: 3%;
    opacity: 80 !important;
    width: 30%;
}
.formulario-boot {
    background-color: $colorprincipal;
    padding: 20px;
    
    .form-label{
        color: white;  
    }
    h1{
        color: aliceblue;
        box-shadow: 10px;
        text-shadow: 0px 0px 5px #000;
        margin-bottom: 20px;
    }
    label #comentario{
        color: #000;
    }
    .form-control{
        border-color: $colorsecundario;
        border-width: 3px;
        box-shadow: 0px 0px 5px $colorsecundario;
    }
    input .form-control :active{
        box-shadow: inset 0px 0px 5px $colorsecundario !important; 
    }
    input :hover{
        box-shadow: 0px 0px 20px $colorsecundario !important;
    }
    input .form-control :focus{
        box-shadow: inset 0px 0px 5px $colorsecundario !important;
    }
}
#comentario {
    color: #000;
}
#boton-form{
    background-color: $colorsecundario;
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 5%;
}
#boton-form:hover{
    background-color: #e5ba1dec;
}
.libertadores{
    height: 70px;
    width: 60px;
}
#montserrat{
    font-family: 'Montserrat', sans-serif;
    color: #83c442;
    font-size: 30px;
    margin: 10px;
}
#info{
    background-color: $colorprincipal;
    padding: 50px;
    h1 {
        color: aliceblue;
        box-shadow: 10px;
        text-shadow: 0px 0px 5px #000;
        margin-bottom: 20px;
    }
    p{
        color: #fafafa;
        text-shadow: 0px 0px 10px #000;
        font-size: 20px;
        a{
            text-decoration: none;
            color: $colorsecundario;
        }
    }
}
@media only screen and (max-width: 1515px){
    div #parrafo1{
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 18px;
    }
}
@media only screen and (max-width: 1500px){
    #servicios-boot article p{
        font-size: 15px;
    }
}

@media only screen and (max-width: 1380px){
    .home1 p{
        font-size: 16px;
    }

}
@media only screen and (max-width: 1181px){
    .home1 p{
        font-size: 15px;
    }
}
@media only screen and (max-width: 1030px){

    div h2{
        font-size: 25px;
    }
    div h3{
        font-size: 20px;
    }
    .row li{
        font-size: 13px;
    }
    #parrafo2{
        font-size: 10px;
    }
        
    .mapa{
        height: 250px;
        width: 250px;
    }
}

@media only screen and (max-width: 892px){
    .servicios4{
        padding: 10px;
    
    }
    #servicios-boot h1{
        font-size: 25px;
    }
    #servicios-boot ul{
        padding: 10px;
        margin: 15px;
    }
    #servicios-boot li{
        font-size: 17px;
        padding: 10px;
    }
    #servicios-boot p{
        font-size: 14px;
        padding: 5px;
    }
}
@media only screen and (max-width: 800px){
    .banner{
        height: 350px;
    }
    .libertadores{
        height: 40px;
        width: 30px;
    }
    a .subir{
        font-size: 20px;
        height: 40px;
        
    }
    #servicios-boot h2{
        font-size: 18px;
    }
    #servicios-boot li{
        font-size: 13px;
    }
    #servicios-boot p{
        font-size: 10px;
    }#servicios-boot article p{
        font-size: 11px;
    }
}
@media only screen and (max-width: 767px){
    .hr{
        opacity: 100 !important;
    }
    .home{
        border: none;
        #parrafo1{
            font-size: 15px;
            display:block
        }
    }
    #servicios-boot h2{
        font-size: 25px !important;
    }
    #servicios-boot li{
        font-size: 17px !important;
    }
    #servicios-boot p{
        font-size: 15px !important;
    }
}
@media only screen and (max-width: 575px){
    
    #imagen-boot{
        height: 50px;
        width: 50px;
    }
    #carouselExampleFade{
        height: 400px;
    }
    .navbar-brand{
        font-size: 20px !important;
    }
    .oferta{
        li{
            font-size: 18px !important;
        }
    }
    
    .menu{
        a{
            font-size: 10px !important;
        }
    }
}
@media only screen and (max-width: 443px){
    #imagen-boot{
        width: 0px;
        height: 0px;
    }
    #navbar-boot a{
        font-size: 18px;
        margin: 15px;
    }
    #parrafo1{
        font-size: 13px !important;
    }
    .home1 a{
        padding: 5px !important;
        font-size: 15px !important;
    }


}
@media only screen and (max-width: 380px){
    .home1 p{
        margin: 15px;
    }
}